<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
    <head>
        
    </head>

    <body>
        <div>
            <a href="http://localhost:13221/app1">
                <button id="app1Button">APP1</button>
            </a>
            <a href="http://localhost:13222/app2">
                <button id="app2Button">APP2</button>
            </a>
            <a href="http://localhost:13223/app3">
                <button id="app3Button">APP3</button>
            </a>
            <div id="mainContent">
                <ul>
                    <li th:text="${MODE_USER.name}"></li>
                    <li th:text="${MODE_USER.description}"></li>
                    <li th:text="${TIME_CREATED}"></li>
                </ul>
            </div>
        </div>
    </body>
</html>